/*
* @Author: Administrator
* @Date:   2018-08-14 18:24:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-15 14:00:32
*/
body{
	background-image: url('../img/zhuce/background.jpg');
	background-repeat: no-repeat;
	background-size: 7.5rem 13.34rem;
	display: flex;
	flex-direction: column;
}
.login{
	float: right;
	width: 1.1rem;
	height: 0.45rem;
	background: #fe0000;
	border-radius: 0.23rem;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.45rem;
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}



.con{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}
.con img{
	width: 2.05rem;
	height: 2.05rem;
}
.con form{
	display: flex;
	flex-direction: column;
	position: relative;
}
.con form .name{
	background-image: url('../img/denglu/wode.png');
	background-repeat: no-repeat;
	background-size: 0.4rem 0.4rem;
	background-position:100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.01rem solid #fff;
    background-color: transparent;
    padding-bottom: 0.1rem;
    margin-top: 0.5rem;
    outline: none;
    color: #fff;
}
.con form .mima{
	background-image: url('../img/denglu/mima.png');
	background-repeat: no-repeat;
	background-size: 0.4rem 0.4rem;
	background-position:100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.01rem solid #fff;
    background-color: transparent;
    padding-bottom: 0.1rem;
    margin-top: 0.8rem;
    outline: none;
    color: #fff;
}
.con form input::-webkit-input-placeholder{
 	color: #fff;
 	font-size: 0.3rem;
 	opacity: 0.75;
 }
.con a{
	font-size: 0.3rem;
	color: #fff;
	margin-left:2rem;
	margin-top: 0.5rem;
}




button{
    width: 1.8rem;
	height: 0.6rem;
	background-color:  #535353;
	border:none;
	border-radius: 0.28rem;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.4rem;
	outline: none;
	margin:0 auto;
	margin-top: 0.5rem;
 }




 .three{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	margin-top: 1.2rem;
 }
 .three p{
 	font-size: 0.3rem;
 	color: #fff;
 }
 .three .tu{
 	width: 4.8rem;
 	margin-top: 0.85rem;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }
 .three .tu img{
 	width: 1rem;
 	height: 1rem;
 	border-radius: 50%;
 }

