/*
* @Author: Administrator
* @Date:   2018-08-12 23:25:54
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-15 11:01:38
*/
body{
	background-image: url('../img/zhuce/background.jpg');
	background-repeat: no-repeat;
	background-size: 7.5rem 13.34rem;
}
.login{
	float: right;
	width: 1.1rem;
	height: 0.45rem;
	background: #fe0000;
	border-radius: 0.23rem;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.45rem;
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}



form{
	padding-left: 1.25rem;
	display: flex;
	flex-direction: column;
}
form input{
	width: 5rem;
	height: 0.6rem;
	background: #fff;
	border-radius: 0.3rem;
	margin-bottom: 0.7rem;
	padding: 0 0.5rem;
	outline: none;
}
form input::-webkit-input-placeholder{
 	color: #fe0000;
 	font-size: 0.24rem;
 	opacity: 0.75;
 }
form .name{
	margin-top: 3.3rem;
	background-image: url('../img/zhuce/zhanghao.png');
	background-size: 0.3rem 0.3rem;
	background-repeat: no-repeat;
	background-position: 3%;
}
form .check{
	background-image: url('../img/zhuce/yanzhengma.png');
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
	background-position: 3%;
}
form .mima1{
	background-image: url('../img/zhuce/mima.png');
	background-size: 0.3rem 0.3rem;
	background-repeat: no-repeat;
	background-position: 3%;
}
form .mima2{
	background-image: url('../img/zhuce/mima.png');
	background-size: 0.3rem 0.3rem;
	background-repeat: no-repeat;
	background-position: 3%;
}




.btn-success{
    width: 1.8rem;
	height: 0.55rem;
	background-color:  #535353;
	border-color: #535353;
	border-radius: 0.28rem;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	margin-left: 2.7rem;
	outline: none;
 }
